# Add unique identifiers to your tables

Generate UUIDs for automatic row identification.

## Problem

You need unique identifiers for rows in your data pipeline. Maybe you're building an API that returns specific records, tracking processing status across systems, or joining data from multiple sources.

| Use case | Why UUIDs help |
|----------|----------------|
| API responses | Return stable IDs clients can reference |
| Distributed systems | Generate IDs without coordination |
| Data lineage | Track records across pipeline stages |

## Solution

**What's in this recipe:**

- Create tables with auto-generated UUID primary keys
- Add UUID columns to existing tables
- Generate UUIDs with `uuid4()`

You use `uuid4()` to generate UUIDs for each row. Define it in the schema with `{'column_name': uuid4()}` syntax, or add it to existing tables with `add_computed_column()`.

### Setup

In [ ]:
%pip install -qU pixeltable

In [2]:
import pixeltable as pxt
from pixeltable.functions.uuid import uuid4

In [3]:
# Create a fresh directory
pxt.drop_dir('uuid_demo', force=True)
pxt.create_dir('uuid_demo')

Connected to Pixeltable database at: postgresql+psycopg://postgres:@/pixeltable?host=/Users/pjlb/.pixeltable/pgdata
Created directory 'uuid_demo'.

### Create a table with a UUID primary key

Use `uuid4()` in your schema to create a column that auto-generates UUIDs:

In [4]:
# Create table with auto-generated UUID primary key
products = pxt.create_table(
    'uuid_demo/products',
    {
        'id': uuid4(),  # Auto-generates UUID for each row
        'name': pxt.String,
        'price': pxt.Float
    },
    primary_key=['id']
)

Created table 'products'.

In [5]:
# Insert data - no need to provide 'id', it's auto-generated
products.insert([
    {'name': 'Laptop', 'price': 999.99},
    {'name': 'Mouse', 'price': 29.99},
    {'name': 'Keyboard', 'price': 79.99}
])

Inserting rows into `products`: 3 rows [00:00, 338.71 rows/s]
Inserted 3 rows with 0 errors.

3 rows inserted, 6 values computed.

In [6]:
# View the data - each row has a unique UUID
products.collect()

                                     id      name   price
0  0beebcb6-1a63-4c8c-a802-346b01f7ec6d    Laptop  999.99
1  a6fd0a8b-0156-492f-baa8-a4d1017de831     Mouse   29.99
2  0f2a8c94-0bcd-442e-af22-50213edb08c1  Keyboard   79.99

### Add a UUID column to an existing table

You can add a UUID column to a table that already exists using `add_computed_column()`:

In [7]:
# Create a table without a UUID column
orders = pxt.create_table(
    'uuid_demo/orders',
    {
        'customer': pxt.String,
        'amount': pxt.Float
    }
)

Created table 'orders'.

In [8]:
# Insert some data
orders.insert([
    {'customer': 'Alice', 'amount': 150.00},
    {'customer': 'Bob', 'amount': 75.50}
])

Inserting rows into `orders`: 2 rows [00:00, 1070.66 rows/s]
Inserted 2 rows with 0 errors.

2 rows inserted, 2 values computed.

In [9]:
# Add a UUID column to existing table
orders.add_computed_column(order_id=uuid4())

Added 2 column values with 0 errors.

2 rows updated, 4 values computed.

In [10]:
# View orders with their UUID column
orders.collect()

  customer  amount                              order_id
0    Alice   150.0  b68ab3ab-5e4b-402e-8b9e-5fbd17830851
1      Bob    75.5  8edd6548-3ad5-4d0a-b23b-c03c6f791d90

## Explanation

**Two ways to add UUIDs:**

| Approach | Use case |
|----------|----------|
| `uuid4()` in schema | Auto-generated UUID at table creation |
| `add_computed_column(col=uuid4())` | Add UUID column to existing table |

Both use `uuid4()` which generates UUIDv4 (random) identifiers:

- 128-bit values
- Formatted as 32 hex digits with hyphens: `550e8400-e29b-41d4-a716-446655440000`
- Virtually guaranteed unique (collision probability is negligible)

## See also

- [Tables and operations](https://docs.pixeltable.com/tutorials/tables-and-data-operations)
- [Computed columns](https://docs.pixeltable.com/tutorials/computed-columns)