[![Kaggle](https://kaggle.com/static/images/open-in-kaggle.svg)](https://kaggle.com/kernels/welcome?src=https://github.com/pixeltable/pixeltable/blob/master/docs/release/tutorials/working-with-openai.ipynb)&nbsp;&nbsp;
[![Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/pixeltable/pixeltable/blob/master/docs/release/tutorials/working-with-openai.ipynb)

# Working with OpenAI in Pixeltable

Pixeltable unifies data and computation into a table interface. In the [Pixeltable Basics](https://pixeltable.github.io/pixeltable/tutorials/pixeltable-basics/) tutorial, we saw how OpenAI API calls can be incorporated into Pixeltable workflows. In this tutorial, we'll go into more depth on OpenAI integration. You'll need an OpenAI API key to run this demo.

### Prerequisites
- An OpenAI account with an API key (https://openai.com/index/openai-api/)

### Important Notes

- OpenAI usage may incur costs based on your OpenAI plan.
- Be mindful of sensitive data and consider security measures when integrating with external services.

First you'll need to install required libraries and enter your OpenAI API key.

In [ ]:
%pip install -q pixeltable openai

In [ ]:
import os
import getpass
if 'OPENAI_API_KEY' not in os.environ:
    os.environ['OPENAI_API_KEY'] = getpass.getpass('Enter your OpenAI API key:')

Now let's create a Pixeltable directory to hold the tables for our demo.

In [1]:
import pixeltable as pxt
pxt.create_dir('demo', ignore_errors=True)

Connected to Pixeltable database at: postgresql://postgres:@/pixeltable?host=/Users/asiegel/.pixeltable/pgdata

## Creating the Table

First, we'll create a table and populate it with some sample data.

In [2]:
pxt.drop_table('demo.openai', ignore_errors=True)
t = pxt.create_table('demo.openai', {'id': pxt.IntType(), 'input': pxt.StringType()})

Created table `openai`.

In [3]:
# text from https://en.wikipedia.org/wiki/Global_financial_crisis_in_September_2008

wikipedia_text = '''On Sunday, September 14, it was announced that Lehman Brothers would file for bankruptcy after the Federal Reserve Bank declined to participate in creating a financial support facility for Lehman Brothers.
The significance of the Lehman Brothers bankruptcy is disputed with some assigning it a pivotal role in the unfolding of subsequent events.
The principals involved, Ben Bernanke and Henry Paulson, dispute this view, citing a volume of toxic assets at Lehman which made a rescue impossible.[16][17] Immediately following the bankruptcy, JPMorgan Chase provided the broker dealer unit of Lehman Brothers with $138 billion to "settle securities transactions with customers of Lehman and its clearance parties" according to a statement made in a New York City Bankruptcy court filing.[18]
The same day, the sale of Merrill Lynch to Bank of America was announced.[19] The beginning of the week was marked by extreme instability in global stock markets, with dramatic drops in market values on Monday, September 15, and Wednesday, September 17.
On September 16, the large insurer American International Group (AIG), a significant participant in the credit default swaps markets, suffered a liquidity crisis following the downgrade of its credit rating.
The Federal Reserve, at AIG's request, and after AIG had shown that it could not find lenders willing to save it from insolvency, created a credit facility for up to US$85 billion in exchange for a 79.9% equity interest, and the right to suspend dividends to previously issued common and preferred stock.[20]'''

sample_inputs = wikipedia_text.split('\n')

In [4]:
# Insert a single sample row into the table
t.insert(id=0, input=sample_inputs[0])
t.show()

Computing cells:   0%|                                                    | 0/1 [00:00<?, ? cells/s]
Inserting rows into `openai`: 1 rows [00:00, 656.18 rows/s]
Computing cells: 100%|███████████████████████████████████████████| 1/1 [00:00<00:00, 318.16 cells/s]
Inserted 1 row with 0 errors.

   id                                              input
0   0  On Sunday, September 14, it was announced that...

## Making OpenAI API calls

Calling OpenAI API endpoints involves constructing a message object, which we can express in Pixeltable by adding a new computed column.

In [5]:
prompt = "For the following sentence, extract all company names from the text."

msgs = [
    { "role": "system", "content": prompt },
    { "role": "user", "content": t.input }
]

t.add_column(input_msgs=msgs)

Computing cells: 100%|███████████████████████████████████████████| 1/1 [00:00<00:00, 361.55 cells/s]
Added 1 column value with 0 errors.

UpdateStatus(num_rows=1, num_computed_values=1, num_excs=0, updated_cols=[], cols_with_excs=[])

Unlike the values of the`input` column, which users provide, the `t.input_msgs` column is computed automatically from the `t.input` column values:

In [6]:
t.show()

id,input,input_msgs
0,"On Sunday, September 14, it was announced that Lehman Brothers would file for bankruptcy after the Federal Reserve Bank declined to participate in creating a financial support facility for Lehman Brothers.","[{""role"": ""system"", ""content"": ""For the following sentence, extract all company names from the text.""}, {""role"": ""user"", ""content"": ""On Sunday, September 14, it was announced that Lehman Brothers would file for bankruptcy after the Federal Reserve Bank declined to participate in creating a financial support facility for Lehman Brothers.""}]"

In Pixeltable, OpenAI API calls are exposed as Pixeltable functions, which can be used to create computed columns. We can run the prompt against our input data using OpenAI's `chat_completions` API.

In [7]:
from pixeltable.functions import openai

t['chat_output'] = openai.chat_completions(model='gpt-3.5-turbo', messages=t.input_msgs)
t.show()

Computing cells: 100%|████████████████████████████████████████████| 1/1 [00:00<00:00,  1.05 cells/s]
Added 1 column value with 0 errors.

id,input,input_msgs,chat_output
0,"On Sunday, September 14, it was announced that Lehman Brothers would file for bankruptcy after the Federal Reserve Bank declined to participate in creating a financial support facility for Lehman Brothers.","[{""role"": ""system"", ""content"": ""For the following sentence, extract all company names from the text.""}, {""role"": ""user"", ""content"": ""On Sunday, September 14, it was announced that Lehman Brothers would file for bankruptcy after the Federal Reserve Bank declined to participate in creating a financial support facility for Lehman Brothers.""}]","{""id"": ""chatcmpl-9gcv0K5gxcESpT5uHPkvpJjQrHkln"", ""model"": ""gpt-3.5-turbo-0125"", ""usage"": {""total_tokens"": 66, ""prompt_tokens"": 61, ""completion_tokens"": 5}, ""object"": ""chat.completion"", ""choices"": [{""index"": 0, ""message"": {""role"": ""assistant"", ""content"": ""1. Lehman Brothers"", ""tool_calls"": null, ""function_call"": null}, ""logprobs"": null, ""finish_reason"": ""stop""}], ""created"": 1719946406, ""system_fingerprint"": null}"

The output of the OpenAI API calls are generally complex JSON structures, which require some navigation to extract the response. We can express this as JSON path expressions and create another computed column:

In [8]:
t['response'] = t.chat_output.choices[0].message.content
t.show()

Computing cells: 100%|███████████████████████████████████████████| 1/1 [00:00<00:00, 262.49 cells/s]
Added 1 column value with 0 errors.

id,input,input_msgs,chat_output,response
0,"On Sunday, September 14, it was announced that Lehman Brothers would file for bankruptcy after the Federal Reserve Bank declined to participate in creating a financial support facility for Lehman Brothers.","[{""role"": ""system"", ""content"": ""For the following sentence, extract all company names from the text.""}, {""role"": ""user"", ""content"": ""On Sunday, September 14, it was announced that Lehman Brothers would file for bankruptcy after the Federal Reserve Bank declined to participate in creating a financial support facility for Lehman Brothers.""}]","{""id"": ""chatcmpl-9gcv0K5gxcESpT5uHPkvpJjQrHkln"", ""model"": ""gpt-3.5-turbo-0125"", ""usage"": {""total_tokens"": 66, ""prompt_tokens"": 61, ""completion_tokens"": 5}, ""object"": ""chat.completion"", ""choices"": [{""index"": 0, ""message"": {""role"": ""assistant"", ""content"": ""1. Lehman Brothers"", ""tool_calls"": null, ""function_call"": null}, ""logprobs"": null, ""finish_reason"": ""stop""}], ""created"": 1719946406, ""system_fingerprint"": null}",1. Lehman Brothers

Let's run a query to look only at the input and output:

In [9]:
t.select(t.input, t.response).show()

                                               input            response
0  On Sunday, September 14, it was announced that...  1. Lehman Brothers

Once we have defined these computed columns, much like with a spreadsheet, newly inserted `t.input` values trigger computation of all derived columns, such as `t.response`. Let's insert the rest of our data and see how this works.

In [10]:
t.insert({'id': i, 'input': sample_inputs[i]} for i in range(1, len(sample_inputs)))

Computing cells: 100%|██████████████████████████████████████████| 20/20 [00:02<00:00,  8.94 cells/s]
Inserting rows into `openai`: 5 rows [00:00, 678.51 rows/s]
Computing cells: 100%|██████████████████████████████████████████| 20/20 [00:02<00:00,  8.89 cells/s]
Inserted 5 rows with 0 errors.

UpdateStatus(num_rows=5, num_computed_values=20, num_excs=0, updated_cols=[], cols_with_excs=[])

Inserted 5 rows with 0 errors.

UpdateStatus(num_rows=5, num_computed_values=15, num_excs=0, updated_cols=[], cols_with_excs=[])

In [11]:
t.select(t.input, t.response).show()

input,response
"On Sunday, September 14, it was announced that Lehman Brothers would file for bankruptcy after the Federal Reserve Bank declined to participate in creating a financial support facility for Lehman Brothers.",1. Lehman Brothers
The significance of the Lehman Brothers bankruptcy is disputed with some assigning it a pivotal role in the unfolding of subsequent events.,Lehman Brothers
"The principals involved, Ben Bernanke and Henry Paulson, dispute this view, citing a volume of toxic assets at Lehman which made a rescue impossible.[16][17] Immediately following the bankruptcy, JPMorgan Chase provided the broker dealer unit of Lehman Brothers with \$138 billion to ""settle securities transactions with customers of Lehman and its clearance parties"" according to a statement made in a New York City Bankruptcy court filing.[18]",1. Lehman Brothers 2. JPMorgan Chase
"The same day, the sale of Merrill Lynch to Bank of America was announced.[19] The beginning of the week was marked by extreme instability in global stock markets, with dramatic drops in market values on Monday, September 15, and Wednesday, September 17.",- Merrill Lynch - Bank of America
"On September 16, the large insurer American International Group (AIG), a significant participant in the credit default swaps markets, suffered a liquidity crisis following the downgrade of its credit rating.",American International Group (AIG)
"The Federal Reserve, at AIG's request, and after AIG had shown that it could not find lenders willing to save it from insolvency, created a credit facility for up to US\$85 billion in exchange for a 79.9% equity interest, and the right to suspend dividends to previously issued common and preferred stock.[20]",1. Federal Reserve 2. AIG

## Adding Ground Truth Data

Now let's see how Pixeltable can be used to evaluate a model against ground truth data. We'll start by manually populating a `ground_truth` column in our table.

In [12]:
t['ground_truth'] = pxt.StringType(nullable=True)

ground_truth = [
    'Lehman Brothers',
    'Lehman Brothers',
    'JP Morgan Chase, Lehman Brothers',
    'Merill Lynch, Bank of America',
    'American International Group',
    'American International Group',
]

for i, gt in enumerate(ground_truth):
    t.update({'ground_truth': gt}, where=(t.id == i))

Computing cells: 100%|██████████████████████████████████████████| 6/6 [00:00<00:00, 1110.04 cells/s]
Added 6 column values with 0 errors.
Inserting rows into `openai`: 1 rows [00:00, 586.86 rows/s]
Inserting rows into `openai`: 1 rows [00:00, 1529.09 rows/s]
Inserting rows into `openai`: 1 rows [00:00, 1862.48 rows/s]
Inserting rows into `openai`: 1 rows [00:00, 2057.04 rows/s]
Inserting rows into `openai`: 1 rows [00:00, 1711.96 rows/s]
Inserting rows into `openai`: 1 rows [00:00, 2347.12 rows/s]

Inserting rows into `openai`: 0 rows [00:00, ? rows/s]

Inserting rows into `openai`: 1 rows [00:00, 2136.68 rows/s]

Inserting rows into `openai`: 0 rows [00:00, ? rows/s]

Inserting rows into `openai`: 1 rows [00:00, 2308.37 rows/s]

Inserting rows into `openai`: 0 rows [00:00, ? rows/s]

Inserting rows into `openai`: 1 rows [00:00, 2432.89 rows/s]

Inserting rows into `openai`: 0 rows [00:00, ? rows/s]

Inserting rows into `openai`: 1 rows [00:00, 2777.68 rows/s]

Inserting rows into `openai`: 0 rows [00:00, ? rows/s]

Inserting rows into `openai`: 1 rows [00:00, 2855.21 rows/s]

And this is what we have so far:

In [13]:
t.select(t.input, t.response, t.ground_truth).show()

input,response,ground_truth
"On Sunday, September 14, it was announced that Lehman Brothers would file for bankruptcy after the Federal Reserve Bank declined to participate in creating a financial support facility for Lehman Brothers.",1. Lehman Brothers,Lehman Brothers
The significance of the Lehman Brothers bankruptcy is disputed with some assigning it a pivotal role in the unfolding of subsequent events.,Lehman Brothers,Lehman Brothers
"The principals involved, Ben Bernanke and Henry Paulson, dispute this view, citing a volume of toxic assets at Lehman which made a rescue impossible.[16][17] Immediately following the bankruptcy, JPMorgan Chase provided the broker dealer unit of Lehman Brothers with \$138 billion to ""settle securities transactions with customers of Lehman and its clearance parties"" according to a statement made in a New York City Bankruptcy court filing.[18]",1. Lehman Brothers 2. JPMorgan Chase,"JP Morgan Chase, Lehman Brothers"
"The same day, the sale of Merrill Lynch to Bank of America was announced.[19] The beginning of the week was marked by extreme instability in global stock markets, with dramatic drops in market values on Monday, September 15, and Wednesday, September 17.",- Merrill Lynch - Bank of America,"Merill Lynch, Bank of America"
"On September 16, the large insurer American International Group (AIG), a significant participant in the credit default swaps markets, suffered a liquidity crisis following the downgrade of its credit rating.",American International Group (AIG),American International Group
"The Federal Reserve, at AIG's request, and after AIG had shown that it could not find lenders willing to save it from insolvency, created a credit facility for up to US\$85 billion in exchange for a 79.9% equity interest, and the right to suspend dividends to previously issued common and preferred stock.[20]",1. Federal Reserve 2. AIG,American International Group

## Evaluation

Now that we have some ground truth available, we can carry out basic evaluations of the GPT outputs, in this case by asking ChatGPT to decide whether the two are equivalent. 

To start with, we'll create an evaluation prompt. In this case, the prompt requires some bespoke string substitution, so it's easiest to do using a UDF. (See the [Pixeltable Basics](https://pixeltable.github.io/pixeltable/tutorials/pixeltable-basics/) tutorial and the [UDFs in Pixeltable](https://pixeltable.github.io/pixeltable/howto/udfs-in-pixeltable/) guide for more details on UDFs.)

In [14]:
system_prompt = '''
Compare the following listA and listB of entities, and check if they contain the same entities.
Return a JSON object with the following format:
{"reasoning": explaining your reasoning, "decision": 1 if the lists matched, 0 otherwise}
'''

@pxt.udf
def eval_prompt(listA: str, listB: str) -> list[dict]:
    return [
        {'role': 'system', 'content': system_prompt},
        {'role': 'user', 'content': f'listA: "{listA}" \n listB: "{listB}"'}
    ]

t['eval_prompt'] = eval_prompt(t.response, t.ground_truth)

Computing cells: 100%|███████████████████████████████████████████| 6/6 [00:00<00:00, 510.60 cells/s]
Added 6 column values with 0 errors.

In [15]:
t.select(t.eval_prompt).show()

                                         eval_prompt
0  [{'role': 'system', 'content': '
Compare the f...
1  [{'role': 'system', 'content': '
Compare the f...
2  [{'role': 'system', 'content': '
Compare the f...
3  [{'role': 'system', 'content': '
Compare the f...
4  [{'role': 'system', 'content': '
Compare the f...
5  [{'role': 'system', 'content': '
Compare the f...

The actual evaluation happens in another computed column. We can use OpenAI's handy `response_format` parameter to enforce that the output is properly formed JSON.

In [16]:
t['eval'] = openai.chat_completions(model='gpt-3.5-turbo', messages=t.eval_prompt, response_format={'type': 'json_object'})
t['eval_output'] = t.eval.choices[0].message.content

Computing cells: 100%|████████████████████████████████████████████| 6/6 [00:06<00:00,  1.15s/ cells]
Added 6 column values with 0 errors.
Computing cells: 100%|███████████████████████████████████████████| 6/6 [00:00<00:00, 706.23 cells/s]
Added 6 column values with 0 errors.

Computing cells:   0%|                                                    | 0/6 [00:00<?, ? cells/s]

Computing cells: 100%|███████████████████████████████████████████| 6/6 [00:00<00:00, 947.40 cells/s]

Added 6 column values with 0 errors.

Let's take a look:

In [17]:
t.select(t.response, t.ground_truth, t.eval_output).show()

response,ground_truth,eval_output
- Merrill Lynch - Bank of America,"Merill Lynch, Bank of America","{ ""reasoning"": ""The entities in listA are 'Merrill Lynch' and 'Bank of America' listed with hyphens in front of them, while the entities in listB are 'Merrill Lynch' and 'Bank of America' listed with commas separating them. Despite the slight formatting difference, the entities themselves are the same."", ""decision"": 1 }"
Lehman Brothers,Lehman Brothers,"{ ""reasoning"": ""The entities in listA and listB are the same."", ""decision"": 1 }"
1. Lehman Brothers 2. JPMorgan Chase,"JP Morgan Chase, Lehman Brothers","{ ""reasoning"": ""The lists are similar as they both contain the entities 'Lehman Brothers' and 'JPMorgan Chase', although the order of the entities is different."", ""decision"": 1 }"
1. Federal Reserve 2. AIG,American International Group,"{""reasoning"": ""ListA contains both 'Federal Reserve' and 'AIG', while listB only contains 'American International Group'. Although 'AIG' is a common abbreviation for 'American International Group', it is not an exact match for the entity listed in listA. Therefore, the lists do not contain the same entities."", ""decision"": 0}"
American International Group (AIG),American International Group,"{ ""reasoning"": ""The entities in listA and listB are similar with only a slight difference in the name (mention of '(AIG)' in listA). The core entity 'American International Group' is the same in both lists."", ""decision"": 1 }"
1. Lehman Brothers,Lehman Brothers,"{""reasoning"": ""The entities in listA and listB are the same, 'Lehman Brothers'. The only difference is the presence of the ordinal number '1.' in listA, which does not affect the entity itself."", ""decision"": 1}"

Finally, it's time to pull the `decision` out of the JSON structs returned by OpenAI. There's just one complication: the `chat_completions` responses are strings, not JSON structs. We can resolve this with Pixeltable's handy `apply` method, which turns any Python function into a Pixeltable function. In this case, we'll apply the Python function `json.loads` to parse the string into a JSON struct.

In [18]:
import json

t['eval_decision'] = t.eval_output.apply(json.loads).decision

Computing cells: 100%|███████████████████████████████████████████| 6/6 [00:00<00:00, 187.24 cells/s]
Added 6 column values with 0 errors.

In [19]:
t.select(t.response, t.ground_truth, t.eval_output, t.eval_decision).show()

response,ground_truth,eval_output,eval_decision
Lehman Brothers,Lehman Brothers,"{ ""reasoning"": ""The entities in listA and listB are the same."", ""decision"": 1 }",1
1. Federal Reserve 2. AIG,American International Group,"{""reasoning"": ""ListA contains both 'Federal Reserve' and 'AIG', while listB only contains 'American International Group'. Although 'AIG' is a common abbreviation for 'American International Group', it is not an exact match for the entity listed in listA. Therefore, the lists do not contain the same entities."", ""decision"": 0}",0
- Merrill Lynch - Bank of America,"Merill Lynch, Bank of America","{ ""reasoning"": ""The entities in listA are 'Merrill Lynch' and 'Bank of America' listed with hyphens in front of them, while the entities in listB are 'Merrill Lynch' and 'Bank of America' listed with commas separating them. Despite the slight formatting difference, the entities themselves are the same."", ""decision"": 1 }",1
1. Lehman Brothers 2. JPMorgan Chase,"JP Morgan Chase, Lehman Brothers","{ ""reasoning"": ""The lists are similar as they both contain the entities 'Lehman Brothers' and 'JPMorgan Chase', although the order of the entities is different."", ""decision"": 1 }",1
1. Lehman Brothers,Lehman Brothers,"{""reasoning"": ""The entities in listA and listB are the same, 'Lehman Brothers'. The only difference is the presence of the ordinal number '1.' in listA, which does not affect the entity itself."", ""decision"": 1}",1
American International Group (AIG),American International Group,"{ ""reasoning"": ""The entities in listA and listB are similar with only a slight difference in the name (mention of '(AIG)' in listA). The core entity 'American International Group' is the same in both lists."", ""decision"": 1 }",1