# Import data from Hugging Face datasets

Load datasets from Hugging Face Hub into Pixeltable tables for processing with AI models.

## Problem

You want to use a dataset from Hugging Face Hubâ€”for fine-tuning, evaluation, or analysis. You need to load it into a format where you can add computed columns, embeddings, or AI transformations.

| Dataset | Size | Use case |
|---------|------|----------|
| imdb | 50K reviews | Sentiment analysis |
| squad | 100K Q&A | RAG evaluation |
| coco | 330K images | Vision model training |

## Solution

**What's in this recipe:**

- Import Hugging Face datasets directly into tables
- Handle datasets with multiple splits (train/test/validation)
- Work with image datasets

You use `pxt.create_table()` with a Hugging Face dataset as the `source` parameter. Pixeltable automatically maps HF types to Pixeltable column types.

### Setup

In [23]:
%pip install -qU pixeltable datasets

In [24]:
import pixeltable as pxt
from datasets import load_dataset

In [25]:
# Create a fresh directory
pxt.drop_dir('hf_demo', force=True)
pxt.create_dir('hf_demo')

Created directory 'hf_demo'.

### Import a single split

Load a specific split from a dataset:

In [26]:
# Load a small subset for demo (first 100 rows of rotten_tomatoes)
hf_dataset = load_dataset('rotten_tomatoes', split='train[:100]')

In [27]:
# Import into Pixeltable
reviews = pxt.create_table(
    'hf_demo.reviews',
    source=hf_dataset
)

Created table 'reviews'.
Inserting rows into `reviews`: 100 rows [00:00, 14781.69 rows/s]
Inserted 100 rows with 0 errors.

In [28]:
# View imported data
reviews.head(5)

                                                text label
0  the rock is destined to be the 21st century's ...   pos
1  the gorgeously elaborate continuation of " the...   pos
2                     effective but too-tepid biopic   pos
3  if you sometimes like to go to the movies to h...   pos
4  emerges as something rare , an issue movie tha...   pos

### Import multiple splits

Load a DatasetDict with multiple splits and track which split each row came from:

In [29]:
# Load dataset with multiple splits (small subset for demo)
hf_dataset_dict = load_dataset(
    'rotten_tomatoes',
    split={'train': 'train[:50]', 'test': 'test[:50]'}
)

In [30]:
# Import each split separately for clarity
train_data = pxt.create_table(
    'hf_demo.reviews_train',
    source=hf_dataset_dict['train']
)
test_data = pxt.create_table(
    'hf_demo.reviews_test',
    source=hf_dataset_dict['test']
)

Created table 'reviews_train'.
Inserting rows into `reviews_train`: 50 rows [00:00, 10150.29 rows/s]
Inserted 50 rows with 0 errors.
Created table 'reviews_test'.
Inserting rows into `reviews_test`: 50 rows [00:00, 9883.37 rows/s]
Inserted 50 rows with 0 errors.

In [31]:
# View training data
train_data.head(5)

                                                text label
0  the rock is destined to be the 21st century's ...   pos
1  the gorgeously elaborate continuation of " the...   pos
2                     effective but too-tepid biopic   pos
3  if you sometimes like to go to the movies to h...   pos
4  emerges as something rare , an issue movie tha...   pos

In [32]:
# View test data
test_data.head(3)

                                                text label
0  lovingly photographed in the manner of a golde...   pos
1              consistently clever and suspenseful .   pos
2  it's like a " big chill " reunion of the baade...   pos

### Add AI-powered computed columns

Enrich the dataset with AI models:

In [33]:
# Add a computed column for text length
reviews.add_computed_column(text_length=reviews.text.apply(len, col_type=pxt.Int))

Added 100 column values with 0 errors.

100 rows updated, 200 values computed.

In [34]:
# View with computed column
reviews.select(reviews.text, reviews.label, reviews.text_length).head(5)

                                                text label  text_length
0  the rock is destined to be the 21st century's ...   pos          177
1  the gorgeously elaborate continuation of " the...   pos          226
2                     effective but too-tepid biopic   pos           30
3  if you sometimes like to go to the movies to h...   pos           89
4  emerges as something rare , an issue movie tha...   pos          111

### Type mapping

Pixeltable automatically maps Hugging Face types to Pixeltable types:

| Hugging Face Type | Pixeltable Type |
|-------------------|-----------------|
| `Value('string')` | `pxt.String` |
| `Value('int64')` | `pxt.Int` |
| `Value('float32')` | `pxt.Float` |
| `ClassLabel` | `pxt.String` |
| `Image` | `pxt.Image` |
| `Sequence` | `pxt.Array` or `pxt.Json` |

Use `schema_overrides` to customize type mapping when needed.

## Explanation

**Why import Hugging Face datasets into Pixeltable:**

1. **Add computed columns** - Enrich data with embeddings, AI analysis, or transformations
1. **Incremental processing** - Add new rows without reprocessing existing data
1. **Persistent storage** - Keep processed results across sessions
1. **Query capabilities** - Filter, aggregate, and join with other tables

**Working with large datasets:**

For very large datasets, consider loading in batches or using streaming mode in the `datasets` library before importing.

## See also

- [Import CSV files](https://docs.pixeltable.com/howto/cookbooks/data/data-import-csv) - For CSV and Excel imports
- [Semantic text search](https://docs.pixeltable.com/howto/cookbooks/search/search-semantic-text) - Add embeddings to text data
- [Hugging Face integration notebook](https://docs.pixeltable.com/howto/providers/working-with-hugging-face) - Full integration guide