# Look up structured data with retrieval UDFs

Create lookup functions that query tables by key—for customer records, product catalogs, or financial data.

## Problem

You have structured data—customer records, product catalogs, financial data—and need to look up rows by key values. Common scenarios:

| Use case | Lookup key | Returns |
|----------|------------|---------|
| Customer support | `customer_id` | Contact info, order history |
| Product search | `sku` or `product_name` | Price, inventory, specs |
| Financial analysis | `ticker` or `date` | Stock prices, transactions |
| Inventory check | `warehouse_id`, `product_id` | Stock levels |

## Solution

**What's in this recipe:**
- Create lookup functions from tables with `retrieval_udf`
- Query by single or multiple keys
- Use lookups in computed columns for data enrichment

Use `pxt.retrieval_udf(table)` to automatically create a function that queries the table by its columns.

### Setup

In [ ]:
%pip install -qU pixeltable

In [2]:
import pixeltable as pxt

In [3]:
# Create a fresh directory
pxt.drop_dir('lookup_demo', force=True)
pxt.create_dir('lookup_demo')

Connected to Pixeltable database at: postgresql+psycopg://postgres:@/pixeltable?host=/Users/pjlb/.pixeltable/pgdata
Created directory 'lookup_demo'.

### Create a product catalog table

In [4]:
# Create a product catalog
products = pxt.create_table(
    'lookup_demo.products',
    {'sku': pxt.String, 'name': pxt.String, 'price': pxt.Float, 'category': pxt.String}
)

products.insert([
    {'sku': 'LAPTOP-001', 'name': 'MacBook Pro 14"', 'price': 1999.00, 'category': 'electronics'},
    {'sku': 'LAPTOP-002', 'name': 'ThinkPad X1', 'price': 1499.00, 'category': 'electronics'},
    {'sku': 'PHONE-001', 'name': 'iPhone 15 Pro', 'price': 999.00, 'category': 'electronics'},
    {'sku': 'CHAIR-001', 'name': 'Ergonomic Office Chair', 'price': 449.00, 'category': 'furniture'},
    {'sku': 'DESK-001', 'name': 'Standing Desk', 'price': 699.00, 'category': 'furniture'},
])

products.collect()

Created table 'products'.
Inserting rows into `products`: 5 rows [00:00, 502.31 rows/s]
Inserted 5 rows with 0 errors.

          sku                    name   price     category
0  LAPTOP-001         MacBook Pro 14"  1999.0  electronics
1  LAPTOP-002             ThinkPad X1  1499.0  electronics
2   PHONE-001           iPhone 15 Pro   999.0  electronics
3   CHAIR-001  Ergonomic Office Chair   449.0    furniture
4    DESK-001           Standing Desk   699.0    furniture

### Create a lookup function with retrieval_udf

In [5]:
# Create a lookup function that searches by SKU
get_product = pxt.retrieval_udf(
    products,
    name='get_product',
    description='Look up a product by its SKU code',
    parameters=['sku'],  # Only use SKU as the lookup key
    limit=1  # Return at most 1 result
)
# Check the function signature

In [6]:
# Look up a product by SKU
result = products.select(get_product(sku='LAPTOP-001')).limit(1).collect()

### Look up by category (multiple results)

In [7]:
# Create a category lookup (returns multiple products)
get_by_category = pxt.retrieval_udf(
    products,
    name="get_by_category",
    description="Get all products in a category",
    parameters=["category"],
    limit=10  # Return up to 10 products
)

# Find all electronics
products.select(get_by_category(category="electronics")).limit(1).collect()

                                     get_by_category
0  [{'sku': 'LAPTOP-001', 'name': 'MacBook Pro 14...

### Use lookups for data enrichment

In [8]:
# Create an orders table
orders = pxt.create_table(
    'lookup_demo.orders',
    {'order_id': pxt.String, 'product_sku': pxt.String, 'quantity': pxt.Int}
)

orders.insert([
    {'order_id': 'ORD-001', 'product_sku': 'LAPTOP-001', 'quantity': 2},
    {'order_id': 'ORD-002', 'product_sku': 'PHONE-001', 'quantity': 1},
    {'order_id': 'ORD-003', 'product_sku': 'CHAIR-001', 'quantity': 4},
])

Created table 'orders'.
Inserting rows into `orders`: 3 rows [00:00, 1186.28 rows/s]
Inserted 3 rows with 0 errors.

3 rows inserted, 6 values computed.

In [9]:
# Add a computed column that enriches orders with product details
orders.add_computed_column(product_info=get_product(sku=orders.product_sku))

# View enriched orders
orders.select(
    orders.order_id,
    orders.product_sku,
    orders.quantity,
    orders.product_info
).collect()

Added 3 column values with 0 errors.

order_id,product_sku,quantity,product_info
ORD-001,LAPTOP-001,2,"[{""sku"": ""LAPTOP-001"", ""name"": ""MacBook Pro 14\"""", ""price"": 1999., ""category"": ""electronics""}]"
ORD-002,PHONE-001,1,"[{""sku"": ""PHONE-001"", ""name"": ""iPhone 15 Pro"", ""price"": 999., ""category"": ""electronics""}]"
ORD-003,CHAIR-001,4,"[{""sku"": ""CHAIR-001"", ""name"": ""Ergonomic Office Chair"", ""price"": 449., ""category"": ""furniture""}]"

## Explanation

**`retrieval_udf` parameters:**

| Parameter | Description |
|-----------|-------------|
| `table` | The table to query |
| `name` | Function name (defaults to table name) |
| `description` | Description for LLM tool use |
| `parameters` | Columns to use as lookup keys |
| `limit` | Max rows to return (None = all) |

**Use cases:**

| Pattern | Example |
|---------|---------|
| Data enrichment | Join order SKUs to product details |
| LLM tool calling | Let agents query databases |
| Reference lookups | Convert codes to descriptions |
| Cross-table joins | Link related records |

**Tips:**
- Use `limit=1` for unique key lookups
- Specify only needed columns in `parameters` for cleaner APIs
- Add descriptions for LLM tool integration

## See also

- [Use tool calling with LLMs](https://docs.pixeltable.com/howto/cookbooks/agents/llm-tool-calling) - Use retrieval UDFs as LLM tools
- [Build a RAG pipeline](https://docs.pixeltable.com/howto/cookbooks/agents/pattern-rag-pipeline) - Semantic search with `@pxt.query`